<%- include('partials/header', { title: 'Edit' }) %>

<div class="container">
  <h1>Edit Link</h1>

  <form action="/edit/<%= id %>" method="post">
    <input type="url" name="url" value="<%= url %>" required />
    <input type="text" name="shortCode" value="<%= shortCode %>" required />

    <% if (errors && errors.length > 0) { %>
      <% errors.forEach(e => { %>
        <p><%= e %></p>
      <% }) %>
    <% } %>

    <button>Update</button>
  </form>
</div>

<%- include('partials/footer') %>