<%- include('partials/header', { title: 'Home' }) %>


<div class="hero">
  <div class="container">
    <h1>URL Shortener</h1>

    <form action="/" method="post">
      
      <div class="input-group">
        <label><i class="fa-solid fa-link"></i></label>
        <input type="url" name="url" required placeholder="Enter URL to shorten" />
      </div>

      <div class="input-group">
        <label><i class="fa-solid fa-code"></i></label>
        <input type="text" name="shortCode" required placeholder="Enter custom short code " />
      </div>

      <button type="submit">Shorten URL</button>
    </form>
    <div class="shortenedUrlsBox">
      <h2>Shortened URLs</h2>
      <ul class="shortenedLinks">
        <% if (links && links.length > 0) { %>

          <% links.forEach(link => { %>
            <% const truncatedUrl = link.url.length > 40 
                ? link.url.substring(0, 40) + "..." 
                : link.url %>

            <li class="shortenedLinkItem">
              <div class="linkInfo"> 
                <a class="shortLink" href="/<%= link.shortCode %>" target="_blank">
                  <%= host %> / <%= link.shortCode %>
                </a>
                <p class="unShortLink">
                  <%= truncatedUrl %>
                </p>
              </div>
              <div class="icon">
                <i class="fa-regular fa-copy"></i>
                <i class="fa-regular fa-pen-to-square c-green"></i>
                <i class="fa-regular fa-trash-can c-red"></i>
              </div>
            </li>
          <% }) %>

        <% } else { %>
          <p class="shortenedLinkItem">No short links available</p>
        <% } %>
      </ul>
      <!-- <ul class="shortenedLinks">
        <% links.forEach(link => { %>
          <% const truncatedUrl = link.url.length > 40 
              ? link.url.substring(0, 40) + "..." 
              : link.url %>
        <li class="shortenedLinkItem">
          <div class="linkInfo"> 
            <a class="shortLink" href="/<%= link.shortCode %>" target="_blank">
              <%= host %> / <%= link.shortCode %>
            </a>
            <p class="unShortLink">
            <%= truncatedUrl %>
            </p>
          </div>
          <div class="icon">
           <i class="fa-regular fa-copy"></i>
           <i class="fa-regular fa-pen-to-square c-green"></i>
           <i class="fa-regular fa-trash-can c-red"></i>
          </div>
        </li>
        <% }) %>
      </ul> -->
    </div>
  </div>
</div>

<%- include('partials/footer') %>
